<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<p> Bienvenido a <%= title %></p>

<h1> Esta web fue creada por: RAUL Adrian Blázquez León</h1>

<img src="/public/images/AdrianMontjuic.jpg" width="200" />

<hr />

<a href="/"> home </a>
<a href="/quizzes"> quizzes </a>
<a href="/credits"> créditos </a>


</body>
</html>