<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<a href="/home"> Home </a>
<a href="/quizzes"> Quizzes </a>

<p> Esta p치gina fue creada por :

    RAUL Adri치n Bl치zquez Le칩n </p>

</body>
</html>