<!DOCTYPE html>
<html>
<head>
    <title> Quiz </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1> Quiz </h1>
<p> Welcome to Quiz </p>

<p> RAUL Pregunta Número 1 </p>


<ul>

    <% for (let i in quizzes ){ %>
    <% const quiz = quizzes[i] %>

    <li>
        <%= quiz.question %> : <%= quiz.answer %>
    </li>
    <% } %>
</ul>

<a href="/credits"> Autores </a>
<a href="/"> Home </a>

</body>
</html>